.vs
bin
obj
x64
*.ini
*.pro
*.user
*.vs
*.log
*.ilk
*.pdb
*.map
*.exp
*.dia
*.dia~
*.props
*.pdb
hiscore.dat
hiscore.txt
old
Debug
PTM.dbg
PTM.cfg
PTM.last
temp.ptm
*.odt#
*.ods#
fernando/
temp/
cppcheck
0.3/build/USR/AUTORUN.PTM
0.3/build/USR/AUTOSAVE.PTM
0.3/build/USR/TEMP.PTM
*.pub