.vs
bin
obj
x64
*.ini
*.pro
*.user
*.vs
*.log
*.ilk
*.pdb
*.map
*.exp
*.dia
*.dia~
*.props
*.pdb
hiscore.dat
hiscore.txt
old
Debug
PTM.dbg
PTM.cfg
PTM.last
temp.ptm
*.odt#
*.ods#
fernando/
temp/
cppcheck
0.3/Build/files/main.ptm
0.4/build/root/AUTORUN.PTM
0.4/build/root/AUTOSAVE.PTM
0.4/build/root/TEMP.PTM