.vs
bin
obj
x64
*.ini
*.pro
*.user
*.vs
*.log
*.ilk
*.pdb
*.map
*.exp
*.dia
*.dia~
*.props
*.pdb
hiscore.dat
hiscore.txt
old
Debug
PTM.dbg
PTM.cfg
PTM.last
temp.ptm
*.odt#
*.ods#
fernando/
v0.3b/Build/files/main.ptm
v0.4b/temp/
