@font-face {
    font-family: 'Intellec';
    src: url('fonts/intellec.ttf') format('truetype');
}
@font-face {
	font-family: 'Nintendo';
	src: url('fonts/press_start_2p.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	src: url('fonts/RobotoMono-Regular.ttf') format('truetype');
}
body {
    font-family: Roboto;
    background: #e0e0e0;
    color: #101010;
    font-size: 18px;
    margin: 0;
}
iframe {
    width: 100%;
    height: 100%;
}
.layout-table {
    width: 99%;
    height: 99%;
    border-collapse: collapse;
}
.layout-table td {
    vertical-align: top;
}
.main-title {
    font-family: 'Intellec';
    font-size: 24px;
    text-align: center;
    padding: 15px 0;
}
.content {
    margin: 0 40px;
    margin-bottom: 100px;
}
.section {
}
.section-title {
    font-family: 'Intellec';
    font-size: 18px;
    color: #8020a0;
    border-bottom: 2px solid #aaa;
    margin-top: 30px;
}
p {
}
.code {
    font-family: 'Intellec';
    white-space: pre;
    background: #d0d0d0;
    color: #404040;
}
