@font-face {
    font-family: 'Intellec';
    src: url('fonts/intellec.ttf') format('truetype');
}
@font-face {
	font-family: 'Nintendo';
	src: url('fonts/press_start_2p.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	src: url('fonts/RobotoMono-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    background: #101060;
}
.content {
    background: #e0e0e0;
    color: #101010;
    border: 10px solid #000000;
    font-family: Roboto;
    font-size: 18px;
    padding: 20px;
    width: 70%;
    margin: auto;
}
.title {
    border-bottom: 4px solid #101010;
    margin-bottom: 20px;
}
.title h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 34px;
}
a {
    color: #0000ff;
}
a:hover {
    color: #ff00ff;
}
.section {
    border-bottom: 2px solid #101010;
    width: fit-content;
    font-weight: bold;
    font-size: 23px;
}
.subsection {
    font-weight: bold;
}
.code {
    white-space: pre;
    font-family: consolas, monospace;
    background: #d0d0d0;
    margin-bottom: 20px;
}
